<!-- snippets/product__liquid.liquid -->
{% comment %} 
  Block to include custom liquid code.

  Accepts:
    - blocksettings: liquid object of block settings
  
  Usage:
    {% render 'product__liquid', 
      blocksettings: block.settings %}

  Pro tips:
    - Use this for custom code or app integrations.
{% endcomment %}

<div class="px-4
    {{ blocksettings.color_border }}
    {{ blocksettings.color_scheme }} 
    {{ blocksettings.style_border }}"
  style="
    padding-top:{{ blocksettings.spacing_top }}px;
    padding-bottom:{{ blocksettings.spacing_bottom }}px;">
  {{ blocksettings.custom_liquid }}
</div>