<!-- templates/customers/reset_password.liquid -->

<section>
  <div class="py-24
    {{ settings.layout_horizontal }}
    {{ settings.layout_alignment }}">
    <div class="w-full max-w-prose">

      <h1>
        {{ 'actions.reset_password' | t }}
      </h1>

      {% form 'reset_customer_password' %}

        {% if form.errors %}
          <div class="p-2 mt-2 mb-4 color__bg-overlay-1 type--small border--radius">
            {{ form.errors | default_errors }}
          </div>
        {% endif %}

        <label 
          for="password">
          {{ 'labels.password' | t }}
        </label>
        <input 
          id="password" 
          class="mb-4" 
          type="password" 
          name="customer[password]">
      
        <label 
          for="password_confirmation">
          {{ 'labels.password_confirmation' | t }}
        </label>
        <input 
          id="password_confirmation" 
          class="mb-4" 
          type="password" 
          name="customer[password_confirmation]">

        <button
          class="mb-4 btn"
          type="submit">
          {{ 'actions.reset_password' | t }}
        </button>

        <div class="pt-4 border--t-width color__border-divider-1">
          <p>{{ 'info.already_have_account' | t }}</p>
          <a href="{{ routes.account_login_url }}" class="btn btn--plain">
            {{ 'actions.log_in' | t }}
          </a>
        </div>
        
      {% endform %}

    </div>
  </div>
</section>