<!-- sections/accordions.liquid -->
{% comment %} 
  Display a list of accordions that can collapse and expand.

  Globals:
    - settings.layout_horizontal: horizontaly margin

  Possible enhancements:
    - Add alternative layout options

  Pro tips:
    - Can be used to show FAQs or other content that can be collapsed and expanded.
{% endcomment %}

<section class="
  {{ section.settings.visibility }}
  {{ section.settings.color_scheme }} 
  {{ section.settings.color_border }}
  {{ section.settings.style_border }}">
  <div style="
    padding-top:{{ section.settings.spacing_top }}px;
    padding-bottom:{{ section.settings.spacing_bottom }}px;" 
    class="{{ settings.layout_horizontal }}">

    {% render 'component__section-header' %} 
    {% for block in section.blocks %}
      {% capture accordion_content %}
        <div class="max-w-prose">
          {{ block.settings.content }}
        </div>
      {% endcapture %}
      {% render 'component__accordion', 
        button_label: block.settings.title, 
        button_class: "",
        container_class: "border--b-width color__border-divider-1 w-full",
        content: accordion_content,
        inner_class: 'mb-4',
        icon: block.settings.icon %}
    {% endfor %}
    
  </div>
</section>

{% schema %}
{
  "name":"t:sections.accordions.name",
  "settings":[
    {
      "type":"header",
      "content":"t:general.headers.content.content"
    },
    {
      "type":"text",
      "id":"heading",
      "label":"t:general.settings.heading.label"
    },
    {
      "type":"richtext",
      "id":"content",
      "label":"t:general.settings.content.label"
    },
    {
      "type":"text",
      "id":"button_label",
      "label":"t:general.settings.button_label.label"
    },
    {
      "type":"url",
      "id":"button_url",
      "label":"t:general.settings.button_url.label"
    },
    {
      "type": "header",
      "content": "t:general.headers.spacing.content"
    },
    {
      "type": "range",
      "id": "spacing_top",
      "min": 0,
      "max": 300,
      "step": 20,
      "unit": "px",
      "label": "t:general.settings.spacing.label_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 300,
      "step": 20,
      "unit": "px",
      "label": "t:general.settings.spacing.label_bottom",
      "default": 100
    },
    {
      "type":"header",
      "content":"t:general.headers.color.content"
    },
    {
      "type":"select",
      "id":"color_scheme",
      "label":"t:general.settings.color_scheme.label",
      "options":[
        {
          "value":"color__bg-body color__text",
          "label":"t:general.settings.color_scheme.body.label"
        },
        {
          "value":"color__bg-neutral color__text",
          "label":"t:general.settings.color_scheme.neutral.label"
        },
        {
          "value":"color__bg-overlay-1 color__text",
          "label":"t:general.settings.color_scheme.accent_1.label"
        },
        {
          "value":"color__bg-overlay-2 color__text",
          "label":"t:general.settings.color_scheme.accent_2.label"
        },
        {
          "value":"color__bg-overlay-3 color__text",
          "label":"t:general.settings.color_scheme.accent_3.label"
        },
        {
          "value":"color__bg-primary color__primary",
          "label":"t:general.settings.color_scheme.primary.label"
        },
        {
          "value":"color__bg-secondary color__secondary",
          "label":"t:general.settings.color_scheme.secondary.label"
        },
        {
          "value":"color__bg-tertiary color__tertiary",
          "label":"t:general.settings.color_scheme.tertiary.label"
        }
      ],
      "default":"color__bg-body color__text"
    },
    {
      "type":"select",
      "id":"color_border",
      "label":"t:general.settings.color_border.label",
      "options":[
        {
          "value":"color__border-divider-1",
          "label":"t:general.settings.color_border.subtle.label"
        },
        {
          "value":"color__border-selected-1",
          "label":"t:general.settings.color_border.strong.label"
        }
      ],
      "default":"color__border-divider-1"
    },
    {
      "type":"select",
      "id":"color_button",
      "label":"t:general.settings.color_button.label",
      "options":[
        {
          "value":"btn",
          "label":"t:general.settings.color_button.primary.label"
        },
        {
          "value":"btn btn--secondary",
          "label":"t:general.settings.color_button.secondary.label"
        },
        {
          "value":"btn btn--tertiary",
          "label":"t:general.settings.color_button.tertiary.label"
        },
        {
          "value":"btn btn--neutral",
          "label":"t:general.settings.color_button.neutral.label"
        },
        {
          "value":"btn btn--plain",
          "label":"t:general.settings.color_button.plain.label"
        }
      ],
      "default":"btn btn--secondary"
    },
    {
      "type":"header",
      "content":"t:general.headers.style.content"
    },
    {
      "type":"select",
      "id":"style_border",
      "label":"t:general.settings.border_position.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.border_position.none.label"
        },
        {
          "value":"border--t-width",
          "label":"t:general.settings.border_position.top.label"
        },
        {
          "value":"border--b-width",
          "label":"t:general.settings.border_position.bottom.label"
        },
        {
          "value":"border--b-width border--t-width",
          "label":"t:general.settings.border_position.top_and_bottom.label"
        }
      ],
      "default":"border--b-width"
    },
    {
      "type":"header",
      "content":"t:general.headers.layout.content"
   },
    {
      "type": "select",
      "id": "layout_x_alignment",
      "label": "t:general.settings.x_alignment.label",
      "options": [
        {
          "value": "justify-between",
          "label": "t:general.settings.x_alignment.left.label"
        },
        {
          "value": "text-center justify-center flex-col items-center",
          "label": "t:general.settings.x_alignment.center.label"
        },
        {
          "value": "text-right justify-end flex-col items-end",
          "label": "t:general.settings.x_alignment.right.label"
        }
      ],
      "default": "justify-between"
    },
    {
      "type":"header",
      "content":"t:general.headers.display.content"
    },
    {
      "type":"select",
      "id":"visibility",
      "label":"t:general.settings.visibility.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.visibility.all.label"
        },
        {
          "value":"md:hidden",
          "label":"t:general.settings.visibility.mobile.label"
        },
        {
          "value":"hidden md:block",
          "label":"t:general.settings.visibility.desktop.label"
        }
      ],
      "default":""
    }
  ],
  "blocks":[
    {
      "type":"content",
      "name":"t:sections.accordions.name",
      "limit":50,
      "settings":[
        {
          "type":"text",
          "id":"title",
          "label":"t:general.settings.title.label",
          "default":{
            "en":"A question your customers are asking",
            "es": "Una pregunta que hacen tus clientes",
            "it": "Una domanda che i tuoi clienti stanno facendo",
            "de": "Eine Frage, die Ihre Kunden stellen",
            "fr": "Une question que vos clients se posent"
          }
        },
        {
          "type":"richtext",
          "id":"content",
          "label":"t:general.settings.content.label",
          "default":{
            "en":"<p>Answer to help your customers feel more comfortable completing their purchase.</p>",
            "es": "<p>Respuesta para ayudar a sus clientes a sentirse más cómodos completando su compra.</p>",
            "it": "<p>Rispondi per aiutare i tuoi clienti a sentirsi più a proprio agio nel completare il loro acquisto.</p>",
            "de": "<p>Antwort, damit sich Ihre Kunden beim Abschluss ihres Kaufs wohler fühlen.</p>",
            "fr": "<p>Réponse pour aider vos clients à se sentir plus à l’aise de finaliser leur achat.</p>"
          }
        },
        {
          "type":"select",
          "id":"icon",
          "label":"t:general.settings.icon.name",
          "options":[
             {
                "value":"",
                "label":"t:general.settings.icon.none.label"
             },
             {
                "value":"activity",
                "label":"t:general.settings.icon.activity.label"
             },
             {
                "value":"alert-circle",
                "label":"t:general.settings.icon.alert-circle.label"
             },
             {
                "value":"alert-triangle",
                "label":"t:general.settings.icon.alert-triangle.label"
             },
             {
                "value":"anchor",
                "label":"t:general.settings.icon.anchor.label"
             },
             {
                "value":"archive",
                "label":"t:general.settings.icon.archive.label"
             },
             {
                "value":"award",
                "label":"t:general.settings.icon.award.label"
             },
             {
                "value":"at-sign",
                "label":"t:general.settings.icon.at-sign.label"
             },
             {
                "value":"bell",
                "label":"t:general.settings.icon.bell.label"
             },
             {
                "value":"book-open",
                "label":"t:general.settings.icon.book-open.label"
             },
             {
                "value":"book",
                "label":"t:general.settings.icon.book.label"
             },
             {
                "value":"bookmark",
                "label":"t:general.settings.icon.bookmark.label"
             },
             {
                "value":"box",
                "label":"t:general.settings.icon.box.label"
             },
             {
                "value":"briefcase",
                "label":"t:general.settings.icon.briefcase.label"
             },
             {
                "value":"calendar",
                "label":"t:general.settings.icon.calendar.label"
             },
             {
                "value":"camera",
                "label":"t:general.settings.icon.camera.label"
             },
             {
                "value":"check",
                "label":"t:general.settings.icon.check.label"
             },
             {
                "value":"check-square",
                "label":"t:general.settings.icon.check-square.label"
             },
             {
                "value":"clipboard",
                "label":"t:general.settings.icon.clipboard.label"
             },
             {
                "value":"cloud",
                "label":"t:general.settings.icon.cloud.label"
             },
             {
                "value":"coffee",
                "label":"t:general.settings.icon.coffee.label"
             },
             {
                "value":"code",
                "label":"t:general.settings.icon.code.label"
             },
             {
                "value":"cpu",
                "label":"t:general.settings.icon.cpu.label"
             },
             {
                "value":"droplet",
                "label":"t:general.settings.icon.droplet.label"
             },
             {
                "value":"dollar-sign",
                "label":"t:general.settings.icon.dollar-sign.label"
             },
             {
                "value":"edit",
                "label":"t:general.settings.icon.edit.label"
             },
             {
                "value":"eye",
                "label":"t:general.settings.icon.eye.label"
             },
             {
                "value":"flag",
                "label":"t:general.settings.icon.flag.label"
             },
             {
                "value":"folder",
                "label":"t:general.settings.icon.folder.label"
             },
             {
                "value":"gift",
                "label":"t:general.settings.icon.gift.label"
             },
             {
                "value":"globe",
                "label":"t:general.settings.icon.globe.label"
             },
             {
                "value":"hash",
                "label":"t:general.settings.icon.hash.label"
             },
             {
                "value":"headphones",
                "label":"t:general.settings.icon.headphones.label"
             },
             {
                "value":"heart",
                "label":"t:general.settings.icon.heart.label"
             },
             {
                "value":"help-circle",
                "label":"t:general.settings.icon.help-circle.label"
             },
             {
                "value":"home",
                "label":"t:general.settings.icon.home.label"
             },
             {
                "value":"image",
                "label":"t:general.settings.icon.image.label"
             },
             {
                "value":"inbox",
                "label":"t:general.settings.icon.inbox.label"
             },
             {
                "value":"info",
                "label":"t:general.settings.icon.info.label"
             },
             {
                "value":"key",
                "label":"t:general.settings.icon.key.label"
             },
             {
                "value":"life-buoy",
                "label":"t:general.settings.icon.life-buoy.label"
             },
             {
                "value":"link",
                "label":"t:general.settings.icon.link.label"
             },
             {
                "value":"lock",
                "label":"t:general.settings.icon.lock.label"
             },
             {
                "value":"mail",
                "label":"t:general.settings.icon.mail.label"
             },
             {
                "value":"map-pin",
                "label":"t:general.settings.icon.map-pin.label"
             },
             {
                "value":"map",
                "label":"t:general.settings.icon.map.label"
             },
             {
                "value":"meh",
                "label":"t:general.settings.icon.meh.label"
             },
             {
                "value":"monitor",
                "label":"t:general.settings.icon.monitor.label"
             },
             {
                "value":"mouse-pointer",
                "label":"t:general.settings.icon.mouse-pointer.label"
             },
             {
                "value":"music",
                "label":"t:general.settings.icon.music.label"
             },
             {
                "value":"package",
                "label":"t:general.settings.icon.package.label"
             },
             {
                "value":"paperclip",
                "label":"t:general.settings.icon.paperclip.label"
             },
             {
                "value":"save",
                "label":"t:general.settings.icon.save.label"
             },
             {
                "value":"settings",
                "label":"t:general.settings.icon.settings.label"
             },
             {
                "value":"shield",
                "label":"t:general.settings.icon.shield.label"
             },
             {
                "value":"shopping-bag",
                "label":"t:general.settings.icon.shopping-bag.label"
             },
             {
                "value":"slash",
                "label":"t:general.settings.icon.slash.label"
             },
             {
                "value":"sliders",
                "label":"t:general.settings.icon.sliders.label"
             },
             {
                "value":"smile",
                "label":"t:general.settings.icon.smile.label"
             },
             {
                "value":"speaker",
                "label":"t:general.settings.icon.speaker.label"
             },
             {
                "value":"star",
                "label":"t:general.settings.icon.star.label"
             },
             {
                "value":"sun",
                "label":"t:general.settings.icon.sun.label"
             },
             {
                "value":"sunrise",
                "label":"t:general.settings.icon.sunrise.label"
             },
             {
                "value":"sunset",
                "label":"t:general.settings.icon.sunset.label"
             },
             {
                "value":"table",
                "label":"t:general.settings.icon.table.label"
             },
             {
                "value":"tag",
                "label":"t:general.settings.icon.tag.label"
             },
             {
                "value":"thermometer",
                "label":"t:general.settings.icon.thermometer.label"
             },
             {
                "value":"thumbs-up",
                "label":"t:general.settings.icon.thumbs-up.label"
             },
             {
                "value":"thumbs-down",
                "label":"t:general.settings.icon.thumbs-down.label"
             },
             {
                "value":"trending-up",
                "label":"t:general.settings.icon.trending-up.label"
             },
             {
                "value":"tool",
                "label":"t:general.settings.icon.tool.label"
             },
             {
                "value":"trash",
                "label":"t:general.settings.icon.trash.label"
             },
             {
                "value":"truck",
                "label":"t:general.settings.icon.truck.label"
             },
             {
                "value":"tv",
                "label":"t:general.settings.icon.tv.label"
             },
             {
                "value":"umbrella",
                "label":"t:general.settings.icon.umbrella.label"
             },
             {
                "value":"unlock",
                "label":"t:general.settings.icon.unlock.label"
             },
             {
                "value":"user-check",
                "label":"t:general.settings.icon.user-check.label"
             },
             {
                "value":"user-plus",
                "label":"t:general.settings.icon.user-plus.label"
             },
             {
                "value":"user",
                "label":"t:general.settings.icon.user.label"
             },
             {
                "value":"users",
                "label":"t:general.settings.icon.users.label"
             },
             {
                "value":"zap",
                "label":"t:general.settings.icon.zap.label"
             }
          ],
          "default":""
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"t:sections.accordions.name",
      "settings":{
        "color_scheme":"color__bg-body color__text",
        "color_border":"color__border-divider-1",
        "color_button":"btn btn--secondary",
        "style_border":"border--b-width",
        "heading":"Collapsible content",
        "content":"",
        "button_label":"Button",
        "button_url":"/"
      },
      "blocks":[
        {
          "type":"content",
          "settings":{
            "title":"A question your customers are asking",
            "content":"<p>Answer to help your customers feel more comfortable completing their purchase.</p>"
          }
        },
        {
          "type":"content",
          "settings":{
            "title":"A question your customers are asking",
            "content":"<p>Answer to help your customers feel more comfortable completing their purchase.</p>"
          }
        },
        {
          "type":"content",
          "settings":{
            "title":"A question your customers are asking",
            "content":"<p>Answer to help your customers feel more comfortable completing their purchase.</p>"
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["custom.overlay"]
  }
}
{% endschema %}