
{% render 'gp-head', 'isThemeSection: true' %}
<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-518730094097728672.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-518730094097728672.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-518730094097728672.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-518730094097728672.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-518730094097728672.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-518730094097728672.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-518730094097728672.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-518730094097728672.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-518730094097728672.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-518730094097728672.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-518730094097728672.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-518730094097728672.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-518730094097728672.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-518730094097728672.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-518730094097728672.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-518730094097728672.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-518730094097728672.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-518730094097728672.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-518730094097728672.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-518730094097728672.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-518730094097728672.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-518730094097728672.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-518730094097728672.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-518730094097728672.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-518730094097728672.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-518730094097728672.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-518730094097728672.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-518730094097728672.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-518730094097728672.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-518730094097728672.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-518730094097728672.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-518730094097728672.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-518730094097728672.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-518730094097728672.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-518730094097728672.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-518730094097728672.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-518730094097728672.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-518730094097728672.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-518730094097728672.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-518730094097728672.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-518730094097728672.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-518730094097728672.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-518730094097728672.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-518730094097728672.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-518730094097728672 .gp-relative{position:relative}.gps-518730094097728672 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-518730094097728672 .gp-mb-0{margin-bottom:0}.gps-518730094097728672 .\!gp-inline{display:inline!important}.gps-518730094097728672 .gp-flex{display:flex}.gps-518730094097728672 .gp-grid{display:grid}.gps-518730094097728672 .\!gp-hidden{display:none!important}.gps-518730094097728672 .gp-hidden{display:none}.gps-518730094097728672 .gp-h-full{height:100%}.gps-518730094097728672 .gp-w-full{width:100%}.gps-518730094097728672 .gp-max-w-full{max-width:100%}.gps-518730094097728672 .gp-flex-col{flex-direction:column}.gps-518730094097728672 .gp-gap-y-0{row-gap:0}.gps-518730094097728672 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-518730094097728672 .gp-duration-200{transition-duration:.2s}.gps-518730094097728672 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-518730094097728672 .tablet\:\!gp-hidden{display:none!important}.gps-518730094097728672 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-518730094097728672 .mobile\:\!gp-hidden{display:none!important}.gps-518730094097728672 .mobile\:gp-hidden{display:none}}.gps-518730094097728672 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gPFGg09Yy6" data-id="gPFGg09Yy6"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPFGg09Yy6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVZsoxD3J- gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gxLXlkYaMm"
    role="presentation"
    class="gp-group/image gxLXlkYaMm"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      isNotLazyload="true"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_517832529617617800-53637241-f5df-4b00-a0bc-e661f0096288.jpg" | file_url }}" width="1280" height="710" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      style="--aspect:1280/710;--aspect-tablet:1280/710;--aspect-mobile:1280/710;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_517832529617617800-53637241-f5df-4b00-a0bc-e661f0096288.jpg" | file_url }}" data-srcset="{{ 'gempages_517832529617617800-53637241-f5df-4b00-a0bc-e661f0096288.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_517832529617617800-53637241-f5df-4b00-a0bc-e661f0096288.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_517832529617617800-53637241-f5df-4b00-a0bc-e661f0096288.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="1280" height="710" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1280/710;--aspect-tablet:1280/710;--aspect-mobile:1280/710;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style id="custom-css-gxLXlkYaMm">
        .gxLXlkYaMm {

}
.gxLXlkYaMm > figure > img {

}
      </style>
    <div
    
     data-id="gwha_jiy3g"
    role="presentation"
    class="gp-group/image gwha_jiy3g"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      isNotLazyload="true"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_517832529617617800-420970da-d2fa-4231-b245-fbf3daf2d9d9.png" | file_url }}" width="600" height="1080" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      style="--aspect:600/1080;--aspect-tablet:600/1080;--aspect-mobile:600/1080;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_517832529617617800-420970da-d2fa-4231-b245-fbf3daf2d9d9.png" | file_url }}" data-srcset="{{ 'gempages_517832529617617800-420970da-d2fa-4231-b245-fbf3daf2d9d9.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_517832529617617800-420970da-d2fa-4231-b245-fbf3daf2d9d9.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_517832529617617800-420970da-d2fa-4231-b245-fbf3daf2d9d9.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="600" height="1080" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:600/1080;--aspect-tablet:600/1080;--aspect-mobile:600/1080;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style id="custom-css-gwha_jiy3g">
        .gwha_jiy3g {

}
.gwha_jiy3g > figure > img {

}
      </style>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    "presets": [{ "name": "CB - Statistics" }],
    "name": "CB - Statistics",
    "tag": "section",
    "class": "gps-518730094097728672 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/colon-broom/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=518730094097728672)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {"en":{}}
  }
{% endschema %}
