<!-- sections/page__main.liquid -->
{% comment %} 
  Empty page section for page template

  Globals:
    - settings.layout_horizontal: horizontaly margin

  Possible enhancements:
    - Add setting to set width of page and alignment.

  Pro tips:
    - Create custom templates to use additional sections.
{% endcomment %}

<section class="{{ section.settings.color_scheme }}" 
  style="
    padding-top:{{ section.settings.spacing_top }}px;
    padding-bottom:{{ section.settings.spacing_bottom }}px;">

  <div class="
    {{ settings.layout_horizontal }}
    {{ settings.layout_alignment }}">

    <div class="max-w-prose w-full">
      <h1>
        {{ page.title | escape }}
      </h1>
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
    
  </div>
</section>

{% schema %}
{
  "name":"t:sections.page_main.name",
  "settings":[
    {
      "type": "header",
      "content": "t:general.headers.spacing.content"
    },
    {
      "type":"range",
      "id":"spacing_top",
      "min":0,
      "max":300,
      "step":20,
      "unit":"px",
      "label":"t:general.settings.spacing.label_top",
      "default":60
    },
    {
      "type":"range",
      "id":"spacing_bottom",
      "min":0,
      "max":300,
      "step":20,
      "unit":"px",
      "label":"t:general.settings.spacing.label_bottom",
      "default":60
    },
    {
      "type":"header",
      "content":"t:general.headers.color.content"
    },
    {
      "type":"select",
      "id":"color_scheme",
      "label":"t:general.settings.color_scheme.label",
      "options":[
        {
          "value":"color__bg-body color__text",
          "label":"t:general.settings.color_scheme.body.label"
        },
        {
          "value":"color__bg-neutral color__text",
          "label":"t:general.settings.color_scheme.neutral.label"
        },
        {
          "value":"color__bg-overlay-1 color__text",
          "label":"t:general.settings.color_scheme.accent_1.label"
        },
        {
          "value":"color__bg-overlay-2 color__text",
          "label":"t:general.settings.color_scheme.accent_2.label"
        },
        {
          "value":"color__bg-overlay-3 color__text",
          "label":"t:general.settings.color_scheme.accent_3.label"
        },
        {
          "value":"color__bg-primary color__primary",
          "label":"t:general.settings.color_scheme.primary.label"
        },
        {
          "value":"color__bg-secondary color__secondary",
          "label":"t:general.settings.color_scheme.secondary.label"
        },
        {
          "value":"color__bg-tertiary color__tertiary",
          "label":"t:general.settings.color_scheme.tertiary.label"
        }
      ],
      "default":"color__bg-body color__text"
    }
  ],
  "presets":[
    {
      "name":"t:sections.page_main.name"
    }
  ],
  "enabled_on": {
    "templates": ["page"]
  }
}
{% endschema %}