<!-- sections/password__main.liquid -->
{% comment %} 
  Password form to enter password protected site.

  Globals:
    - settings.layout_horizontal: horizontaly margin

  Possible enhancements:
    - Add better logo or store title.

  Pro tips:
    - Customize the password template with additional content as needed.
{% endcomment %}

<section class="
  {{ section.settings.color_scheme }} 
  {{ section.settings.color_border }}
  {{ section.settings.style_border }}"  style="
  padding-top:{{ section.settings.spacing_top }}px;
  padding-bottom:{{ section.settings.spacing_bottom }}px;">
  <div class="
    {{ settings.layout_horizontal }}
    {{ settings.layout_alignment }}">

    <div class="max-w-prose w-full">

      {% unless shop.password_message == blank %}
        {{ shop.password_message }}
      {% endunless %}
      
      <div x-data="{ reveal: false }">
        <button type="button" class="btn btn--smaller btn--plain"
          @click="reveal = ! reveal">
          {{ 'actions.enter_with_password' | t }}
        </button>
        <div x-show="reveal" x-cloak>
          {% form 'storefront_password' %}
          {% if form.errors %}
            <div class="color__bg-overlay-1 type--small border--radius p-2 mt-2 mb-4">
              {{ form.errors | default_errors }}
            </div>
          {% endif %}

            <div class="flex w-full mb-2">
              <label for="password_input" class="sr-only">{{ 'labels.password' | t }}</label>
              <input 
                id="password_input"
                class="form-input flex-grow -mr-6" 
                name="password" 
                type="password"
                placeholder="{{ 'labels.password_placeholder' | t }}"
                autocorrect="off" 
                autocapitalize="off">
              <button type="submit" 
                class="btn btn--secondary btn--smaller whitespace-nowrap shrink-0">
                <span class="btn__content">{{ 'actions.sign_in' | t }}</span>
              </button>
            </div>
          {% endform %}
        </div>
      </div>

    </div>
    
  </div>
</section>

{% schema %}
{
  "name":"t:sections.password_main.name",
  "settings":[
    {
      "type": "header",
      "content": "t:general.headers.spacing.content"
    },
    {
      "type":"range",
      "id":"spacing_top",
      "min":0,
      "max":300,
      "step":20,
      "unit":"px",
      "label":"t:general.settings.spacing.label_top",
      "default":60
    },
    {
      "type":"range",
      "id":"spacing_bottom",
      "min":0,
      "max":300,
      "step":20,
      "unit":"px",
      "label":"t:general.settings.spacing.label_bottom",
      "default":60
    },
    {
      "type":"header",
      "content":"t:general.headers.color.content"
    },
    {
      "type":"select",
      "id":"color_scheme",
      "label":"t:general.settings.color_scheme.label",
      "options":[
        {
          "value":"color__bg-body color__text",
          "label":"t:general.settings.color_scheme.body.label"
        },
        {
          "value":"color__bg-neutral color__text",
          "label":"t:general.settings.color_scheme.neutral.label"
        },
        {
          "value":"color__bg-overlay-1 color__text",
          "label":"t:general.settings.color_scheme.accent_1.label"
        },
        {
          "value":"color__bg-overlay-2 color__text",
          "label":"t:general.settings.color_scheme.accent_2.label"
        },
        {
          "value":"color__bg-overlay-3 color__text",
          "label":"t:general.settings.color_scheme.accent_3.label"
        },
        {
          "value":"color__bg-primary color__primary",
          "label":"t:general.settings.color_scheme.primary.label"
        },
        {
          "value":"color__bg-secondary color__secondary",
          "label":"t:general.settings.color_scheme.secondary.label"
        },
        {
          "value":"color__bg-tertiary color__tertiary",
          "label":"t:general.settings.color_scheme.tertiary.label"
        }
      ],
      "default":"color__bg-body color__text"
    },
    {
      "type":"select",
      "id":"color_border",
      "label":"t:general.settings.color_border.label",
      "options":[
        {
          "value":"color__border-divider-1",
          "label":"t:general.settings.color_border.subtle.label"
        },
        {
          "value":"color__border-selected-1",
          "label":"t:general.settings.color_border.strong.label"
        }
      ],
      "default":"color__border-divider-1"
    },
    {
      "type":"header",
      "content":"t:general.headers.style.content"
    },
    {
      "type":"select",
      "id":"style_border",
      "label":"t:general.settings.border_position.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.border_position.none.label"
        },
        {
          "value":"border--t-width",
          "label":"t:general.settings.border_position.top.label"
        },
        {
          "value":"border--b-width",
          "label":"t:general.settings.border_position.bottom.label"
        },
        {
          "value":"border--b-width border--t-width",
          "label":"t:general.settings.border_position.top_and_bottom.label"
        }
      ],
      "default":"border--b-width"
    }
  ],
  "presets":[
    {
      "name":"t:sections.password_main.name"
    }
  ],
  "templates":[
    "password"
  ]
}
{% endschema %}