<!-- sections/text.liquid -->
{% comment %} 
  Richtext section with options to display buttons and headings.

  Globals:
    - settings.layout_horizontal: horizontaly margin
{% endcomment %}

<section class="
  {{ section.settings.visibility }}
  {{ section.settings.color_scheme }} 
  {{ section.settings.color_border }}
  {{ section.settings.style_border }}">
  <div class="{{ settings.layout_horizontal }}"
    style="
      padding-top:{{ section.settings.spacing_top }}px;
      padding-bottom:{{ section.settings.spacing_bottom }}px;">

    <div class="flex flex-row flex-wrap items-end
      {{ section.settings.layout_x_alignment }}">
      <div class="max-w-prose md:w-auto w-full">
        {% unless section.settings.heading == blank %}
          <h3>{{ section.settings.heading }}</h3>
        {% endunless %}
        {% unless section.settings.content == blank %}
          <div class="m-0--clear">
            {{ section.settings.content }}
          </div>
        {% endunless %}
        {% unless section.settings.button_label == blank %}
          <a href="{{ section.settings.button_url }}" 
            class="mt-2 {{ section.settings.color_button }}">
            {{ section.settings.button_label }}
          </a>
        {% endunless %}
      </div>
    </div>
    
  </div>
</section>

{% schema %}
{
  "name":"t:sections.text.name",
  "settings":[
    {
      "type":"header",
      "content":"t:general.headers.content.content"
    },
    {
      "type":"text",
      "id":"heading",
      "label":"t:general.settings.heading.label"
    },
    {
      "type":"richtext",
      "id":"content",
      "label":"t:general.settings.content.label"
    },
    {
      "type":"text",
      "id":"button_label",
      "label":"t:general.settings.button_label.label"
    },
    {
      "type":"url",
      "id":"button_url",
      "label":"t:general.settings.button_url.label"
    },
    {
      "type": "header",
      "content": "t:general.headers.spacing.content"
    },
    {
      "type": "range",
      "id": "spacing_top",
      "min": 0,
      "max": 300,
      "step": 20,
      "unit": "px",
      "label": "t:general.settings.spacing.label_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 300,
      "step": 20,
      "unit": "px",
      "label": "t:general.settings.spacing.label_bottom",
      "default": 100
    },
    {
      "type":"header",
      "content":"t:general.headers.color.content"
    },
    {
      "type":"select",
      "id":"color_scheme",
      "label":"t:general.settings.color_scheme.label",
      "options":[
        {
          "value":"color__bg-body color__text",
          "label":"t:general.settings.color_scheme.body.label"
        },
        {
          "value":"color__bg-neutral color__text",
          "label":"t:general.settings.color_scheme.neutral.label"
        },
        {
          "value":"color__bg-overlay-1 color__text",
          "label":"t:general.settings.color_scheme.accent_1.label"
        },
        {
          "value":"color__bg-overlay-2 color__text",
          "label":"t:general.settings.color_scheme.accent_2.label"
        },
        {
          "value":"color__bg-overlay-3 color__text",
          "label":"t:general.settings.color_scheme.accent_3.label"
        },
        {
          "value":"color__bg-primary color__primary",
          "label":"t:general.settings.color_scheme.primary.label"
        },
        {
          "value":"color__bg-secondary color__secondary",
          "label":"t:general.settings.color_scheme.secondary.label"
        },
        {
          "value":"color__bg-tertiary color__tertiary",
          "label":"t:general.settings.color_scheme.tertiary.label"
        }
      ],
      "default":"color__bg-body color__text"
    },
    {
      "type":"select",
      "id":"color_border",
      "label":"t:general.settings.color_border.label",
      "options":[
        {
          "value":"color__border-divider-1",
          "label":"t:general.settings.color_border.subtle.label"
        },
        {
          "value":"color__border-selected-1",
          "label":"t:general.settings.color_border.strong.label"
        }
      ],
      "default":"color__border-divider-1"
    },
    {
      "type":"select",
      "id":"color_button",
      "label":"t:general.settings.color_button.label",
      "options":[
        {
          "value":"btn",
          "label":"t:general.settings.color_button.primary.label"
        },
        {
          "value":"btn btn--secondary",
          "label":"t:general.settings.color_button.secondary.label"
        },
        {
          "value":"btn btn--tertiary",
          "label":"t:general.settings.color_button.tertiary.label"
        },
        {
          "value":"btn btn--neutral",
          "label":"t:general.settings.color_button.neutral.label"
        },
        {
          "value":"btn btn--plain",
          "label":"t:general.settings.color_button.plain.label"
        }
      ],
      "default":"btn btn--secondary"
    },
    {
      "type":"header",
      "content":"t:general.headers.style.content"
    },
    {
      "type":"select",
      "id":"style_border",
      "label":"t:general.settings.border_position.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.border_position.none.label"
        },
        {
          "value":"border--t-width",
          "label":"t:general.settings.border_position.top.label"
        },
        {
          "value":"border--b-width",
          "label":"t:general.settings.border_position.bottom.label"
        },
        {
          "value":"border--b-width border--t-width",
          "label":"t:general.settings.border_position.top_and_bottom.label"
        }
      ],
      "default":"border--b-width"
    },
    {
      "type":"header",
      "content":"t:general.headers.layout.content"
    },
    {
      "type": "select",
      "id": "layout_x_alignment",
      "label": "t:general.settings.x_alignment.label",
      "options": [
        {
          "value": "",
          "label": "t:general.settings.x_alignment.left.label"
        },
        {
          "value": "text-center justify-center",
          "label": "t:general.settings.x_alignment.center.label"
        },
        {
          "value": "text-right justify-end",
          "label": "t:general.settings.x_alignment.right.label"
        }
      ],
      "default": ""
    },
    {
      "type":"header",
      "content":"t:general.headers.display.content"
    },
    {
      "type":"select",
      "id":"visibility",
      "label":"t:general.settings.visibility.label",
      "options":[
        {
          "value":"",
          "label":"t:general.settings.visibility.all.label"
        },
        {
          "value":"md:hidden",
          "label":"t:general.settings.visibility.mobile.label"
        },
        {
          "value":"hidden md:block",
          "label":"t:general.settings.visibility.desktop.label"
        }
      ],
      "default":""
    }
  ],
  "presets":[
    {
      "name":"t:sections.text.name",
      "settings":{
        "color_scheme":"color__bg-body color__text",
        "color_border":"color__border-divider-1",
        "color_button":"btn btn--secondary",
        "style_border":"border--b-width",
        "heading":"Rich text",
        "content":"<p>Describe a product, make announcements, or inform customers about a promotion.</p>",
        "button_label":"Button",
        "button_url":"/"
      }
    }
  ],
  "disabled_on": {
    "groups": ["custom.overlay"]
  }
}
{% endschema %}